/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importe os estilos padrão do Toastr */
@import "~ngx-toastr/toastr.css";

/* Personalize os estilos do Toastr */
.toast-custom {
  position: fixed;
  bottom: 20px; /* Distância do fundo da tela */
  left: 50%; /* Centralizar horizontalmente */
  transform: translateX(-50%); /* Centralizar horizontalmente */
  width: 300px; /* Largura do Toastr */
  z-index: 10000; /* Z-index para garantir que esteja acima de outros elementos */
}